@model CryptoCurrencyViewModel
<h2>Add new crypto currency:</h2>
<form class="row g-3" method="post" asp-action="Create" asp-controller="Admin" enctype="multipart/form-data">
    <div class="col-md-3">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <label for="CurrencyName" class="form-label">Crypto currency</label>
        <input type="text" class="form-control" name="currencyName" asp-for=CurrencyName required>
        <label for="CurrencyPrice" class="form-label">Currency price</label>
        <input type="text" class="form-control" name="currencyPrice" asp-for=CurrencyPrice required>
        <div class="form-group"> <br />
    <label for="CurrencyImage">Add image</label>
    <input type="file" class="form-control-file" name="currencyImage" asp-for=CurrencyImage required>
  </div>
<br />
        <button type="submit" class="btn btn-primary">Add currency</button>
    </div>
</form>