@model CryptoCurrencyViewModel
<h2>Edit crypto currency:</h2>
<form class="row g-3" method="post" asp-action="Edit" asp-controller="Admin" enctype="multipart/form-data">
    <div class="col-md-3">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <label for="CurrencyName" class="form-label">Crypto currency</label>
        <input type="text" class="form-control" name="currencyName" asp-for=CurrencyName required>
        <label for="CurrencyPrice" class="form-label">Currency price</label>
        <input type="text" class="form-control" name="currencyPrice" asp-for=CurrencyPrice required>
         <div class="form-group"> <br />
    <label for="CurrencyImage">Update Image</label>
    <input type="file" class="form-control-file" name="image" asp-for=Image>
  </div>
    <button type="submit" class="btn btn-primary">Update currency</button>
    </div>
</form>

