@model List<CryptoCurrencyViewModel>;

<h2>Hello from AdminController! It's index page.</h2>

@{
    ViewData["Title"] = "Crypto curriencies:"; 
}

<a asp-action="Create">Add crypto currency</a>

<table class="table">
    @foreach (var item in Model)
     {
        <tr><td>@item.CurrencyName</td>
            <td>
                <a asp-action="Details" asp-controller="Admin" asp-route-id="@item.Id">Details</a>
            </td>
    </tr>
     }
</table>
