@using CryptoMonitor.Web.Models
@model RegistrationViewModel
<h2>Registration</h2>
<form class="row g-3" method="post" asp-action="Registration" asp-controller="Account">
    <div class="col-md-3">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <label for="Login" class="form-label">Login</label>
        <input type="text" class="form-control" name="login" asp-for=Login required>
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" asp-for=Password required>
        <label for="LastName" class="form-label">Surname</label>
        <input type="text" class="form-control" name="lastName" asp-for=LastName required>
        <label for="FirstName" class="form-label">Name</label>
        <input type="text" class="form-control" name="firstName" asp-for=FirstName required>
        <br />
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>